# data structure practical

1. write a code to create a string with your name and print it.

In [ ]:
a = "Naincy"
print(a)

Naincy

2. write a code to find the length of the string "Hello world".

In [ ]:
str = "Hello world"
print(len(str))

11

3. write a code to slice the first 3 characters from the string "python programming".

In [ ]:
str = "python programming"
sliced_str = str[0:3]
print(sliced_str)

pyt

4. write a code to convert the string "Hello" to uppercase.

In [ ]:
str = "hello"
uppercase_str = str.upper()
print(uppercase_str)

HELLO

5. write a code to replace the word "apple" with "orange" in the string "i like apple".

In [ ]:
a = "apple"
b = "orange"
str = "i like apple"
new_str = str.replace(a,b)
print(new_str)

i like orange

6. write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

7. write a code to append the number 1 to the list[1,2,3,4].

In [ ]:
my_list = [1,2,3,4]
my_list.append(1)
print(my_list)

[1, 2, 3, 4, 1]

8. write a code to remove the number 3 from the list[1,2,3,4,5].

In [ ]:
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. write a code to access the second element in the list['a','b','c','d'].

In [ ]:
my_list = ['a','b','c','d']
second_element = my_list[1]
print(second_element)

b

10. write a code to reverse the list[10, 20, 30, 40,50].

In [ ]:
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. write a code to create a tuple with the elements 10,20,30 and print it.

In [ ]:
my_tuple = (10,20,30)
print(my_tuple)

(10, 20, 30)

12. write a code to acess the first elements of the tuple ('apple', 'banana','cherry').

In [ ]:
my_tuple = ('apple','banana','cherry')
first_element = my_tuple[0]
print(first_element)

apple

13. write a code to count how many times the number2 appears in the tuple(1,2,3,2,4,2).

In [ ]:
my_tuple = (1,2,3,2,4,2)
count = my_tuple.count(2)
print(count)

3

14.write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').

In [ ]:
my_tuple = ('dog','cat','rabbit')
index = my_tuple.index('cat')
print(index)

1

15. write a code to check if the element "banana" is in the tuple ('apple','orange','banana').

In [ ]:
my_tuple = ('apple','orange','banana')
if 'banana' in my_tuple:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

16. write a code to create a set with the elements 1,2,3,4,5 and print it.

In [ ]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

17. write a code to add the elements 6 to the set{1,2,3,4}.

In [ ]:
my_set = {1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

  18. write a code to create a tuple with the elements 10, 20,30 and print it.

In [ ]:
my_tuple = (10,20,30)
print(my_tuple)

(10, 20, 30)

19. write a code to access the first element of the tuple('apple','banana','cherry').

In [ ]:
my_tuple = ('apple','banana','cherry')
first_element = my_tuple[0]
print(first_element)

apple

20. write a code to count how many times the number 2 appears in the tupple(1,2,3,2,4,2).

In [ ]:
my_tuple = (1,2,3,2,4,2)
count = my_tuple.count(2)
print(count)

3

21. write a code to find the index of the element "cat" in the tuple('dog','cat','rabbit').

In [ ]:
my_tuple = ('dog','cat','rabbit')
index = my_tuple.index('cat')
print(index)

1

22. write a code to check if the element "banana" is in the tuple ('apple','orange','banana').

In [ ]:
my_tuple = ('apple','orange','banana')
if 'banana' in my_tuple:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

23. write a code to create a set with the elements 1,2,3,4,5 and print it.

In [ ]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

24. write a code to add the elements 6 to the set{1,2,3,4}.

In [ ]:
my_set = {1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}